@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}


body {
	margin: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	font-family: "Lato", sans-serif;
}

main {
	position: absolute;
	background-color: white;
	padding: 2em;

	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),
				0 9px 46px 8px rgba(0,0,0,0.12),
				0 11px 15px -7px rgba(0,0,0,0.2);
}


@media (min-width: 768px) {
	main {
		padding: 60px;
	}
}

.level {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

h4 {
	margin-bottom: 0.2em;
}

.finalScore {
	margin-top: 0;
}

.authortag {
	opacity: 0.4;
}

@media (min-width: 768px) {
	.authortag {
		position: absolute;

		bottom: 15px;
		right: 15px;
	}
}

a {
	text-decoration: none;
	color: blue;
	transition: color 0.15s cubic-bezier(0,0,0.3,1);
}

a:hover {
	color: red;
}

#exam_weight, #coursework_weight {
	display: inline-block;
	width: 2.5em;
}
